.myCustomButton, input[type="submit"] {
  color: white;
  height: 50px;
  background-color: green;
  width: 200px;
  font-size: 20px;
}

#superUniqueId {
  background-color: red;
}

#openModalBtn {
  background-color: cornflowerblue;
}

#testForm {
  width: 400px;
}

.inputWrapper {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.inputWrapper > input {
  width: 70%;
  height: 25px;
}

.inputWrapper > label {
  width: 100px;
  display: inline-block;
}

input[type="submit"] {
  float: right;
  margin-right: 10px;
}

input.error {
  border-color: red;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}